<%= form_with(model: [blog.user, blog], local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title,class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :blog_body, class: 'form-control', rows: 7 %>
  </div>

  <div class="field form-group">
    <%= form.label :status %>
    <%= form.select :status, Blog.statuses.keys, {}, id: :blog_status, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
