<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<%= render "search_form", search_text: @search_text, search_start_at: @search_start_at, search_end_at: @search_end_at %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Updated at</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td>
          <%= link_to blog.title, blog %>
          <% if blog.draft? %>
            <span class="label label-warning">draft</span>
          <% end %>
        </td>
        <td><%= link_to blog.user.name, blog.user %></td>
        <td><%= blog.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
