<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      <%= @blog.title %>
      <% if @blog.draft? %>
        <span class="label label-warning">draft</span>
      <% end %>
    </h1>
  </div>
  <div class="panel-body">
    <%= simple_format @blog.body %>
  </div>
  <div class="panel-footer text-right">
    Written by
    <strong>
      <%= link_to @blog.user.name, @blog.user %>
    </strong>
  </div>
</div>

<% if @blog.user == current_user %>
  <%= link_to 'Edit', edit_user_blog_path(current_user, @blog), class: "btn btn-default" %> |
<% end %>
<%= link_to 'Back', blogs_path %>

<%= raw @blog.user.measurement_tag&.body %>
